grunt-maven-plugin-example/src/main/webapp/assets/node_modules
grunt-maven-plugin/.settings/
**/node_modules
**/target
**/.settings
**/.settings/
**/.classpath
**/.project
grunt-maven-plugin/.classpath
grunt-maven-plugin/.settings/org.eclipse.core.resources.prefs
grunt-maven-plugin/cachedir
